-f https://download.pytorch.org/whl/torch_stable.html
# TODO: add version+cpu after it is released
torch=={{cookiecutter.pytorch_version}}
torchvision=={{cookiecutter.torchvision_version}}+cpu
pillow
