name: "Check if Manifest v2 is a valid JSON"
on:
  pull_request:
    branches: [master]
  merge_group:
    types: [checks_requested]
    branches: [master]

jobs:
  check-if-manifestv2-is-valid-json:
    permissions:
      pull-requests: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Changes
        uses: actions/checkout@v3
      - name: Validate manifest-v2.json
        run: |
          cat manifest-v2.json | jq